// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.flex_box {
    display: flex;
}

// .my_menu {
//     background: pink;
// }

.items {
    // background-color: pink;
    // width: 100%;
    // height: 100vh;
  
    border-radius: 5px;
}

.items ul li {
    list-style:none;
}

.item_boxes {
    width:80%;
    height: 200px;
    background-color:#f8f8f8;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow:2px 2px 2px rgba(0,0,0,0.6);
}

.item_boxes li:first:child {
    border-bottom:1px solid gray;
}

.image_content > img{
    margin:10px 60px 0 10px;
    width:150px;
    height:150px;
    border-radius:5px;
}

.text_contents {
    margin:20px 0 0 0;
}

.text_content th {
    margin:0 auto 30px;
    font-size:30px;
}

.btn {
    margin:10px 0;
}

.text_title {
    
}

.content_A {
    height:100vh;
    background-image: url(/top_img.jpg);
    background-position:center;
    background-size:cover;
    text-align:center;
}

.conA {
    width:90%;
    height:50vh;
    padding-top:35vh;

    margin: 0 auto;
    height:100vh;
        background-color:rgba(255,255,255,0.3);
}

.conA form {
    box-sizing: border-box;

}

@media (min-width:768px) {
    .conA {
    width:50%;
    height:50vh;
    padding-top:35vh;

    margin: 0 auto;
    height:100vh;
    background-color:rgba(255,255,255,0.3);
    }
}